In [6]:
import pandas as pd
import matplotlib.pyplot as pyplot
import sklearn

In [7]:
data = pd.read_csv("extended_intraday_IBM_15min_year1month1_adjusted.csv")

In [8]:
data.head()

                  time     open    high     low    close  volume
0  2020-12-24 16:45:00  124.630  124.66  124.63  124.660     845
1  2020-12-24 15:45:00  124.690  124.69  124.69  124.690       0
2  2020-12-24 13:15:00  124.690  124.69  124.69  124.690  132659
3  2020-12-24 13:00:00  124.485  124.84  124.45  124.780  199288
4  2020-12-24 12:45:00  124.370  124.50  124.34  124.485   87925

In [9]:
data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S')

In [ ]:
predict = "close"

In [8]:
data["highvslow"] = data.high - data.low

In [14]:
data.loc[data.volume > 1000]

,time,open,high,low,close,volume,highvslow
2,2020-12-24 13:15:00,124.6900,124.6900,124.69,124.690,132659,0.0000
3,2020-12-24 13:00:00,124.4850,124.8400,124.45,124.780,199288,0.3900
4,2020-12-24 12:45:00,124.3700,124.5000,124.34,124.485,87925,0.1600
5,2020-12-24 12:30:00,124.4400,124.4900,124.28,124.360,60089,0.2100
6,2020-12-24 12:15:00,124.3311,124.5100,124.21,124.430,92429,0.3000
...,...,...,...,...,...,...,...
782,2020-11-27 10:15:00,124.6500,124.8499,124.41,124.630,110228,0.4399
783,2020-11-27 10:00:00,125.2600,125.2700,124.47,124.640,135809,0.8000
784,2020-11-27 09:45:00,124.2000,125.3130,123.91,125.235,441404,1.4030
788,2020-11-27 08:45:00,124.4000,124.5000,124.40,124.430,2701,0.1000
792,2020-11-27 07:45:00,124.2000,124.3000,124.11,124.300,5317,0.1900